## Data Structures in Python

### Sequences

In [1]:
a = "Introduction to Python"
print (a)

Introduction to Python

In [2]:
print(a[5])
print(a[3:7])

d
rodu

In [3]:
print(a + "3 for everybody")

Introduction to Python3 for everybody

In [4]:
a_new1 = "i" + a[1:]

a_new2 = a[:5] + "D" + a[6:]

print(a_new1)
print(a_new2)

introduction to Python
IntroDuction to Python

In [5]:
length = len (a)

print (length)

22

In [6]:
acaptal = a.upper()

asmall = acaptal.lower()

print (acaptal)
print (asmall)

INTRODUCTION TO PYTHON
introduction to python

In [7]:
a.count ("t")

4

In [8]:
a.find ("t")

2

In [9]:
a.find ("t" , 3)

8

In [10]:
a.find ("t" , 9)

13

In [11]:
"h" in a

True

In [12]:
"java" in a

False

### List

In [13]:
List = ["python", 12, "java", "45", "#", "de45"]

In [14]:
print(List)

['python', 12, 'java', '45', '#', 'de45']

### Accessing Values in Lists

In [15]:
List[1]

12

In [16]:
List[3]

'45'

In [17]:
List[1:3]

[12, 'java']

In [18]:
List[2:]

['java', '45', '#', 'de45']

In [19]:
Length = len(List)
print(Length)

6

In [20]:
print(List[Length - 1])

de45

In [21]:
List[0][1]

'y'

In [22]:
List[-4] , List[2]

('java', 'java')

In [23]:
Day = ["Sunday", "Monday", "Tuesday", "Wednwsday", "Thursday", "Friday", "Saturday"]
len(Day)

7

In [24]:
count = 0
print("Today is: ", Day[count])

('Today is: ', 'Sunday')

In [25]:
count = 4
print("Today is: ", Day[count])

('Today is: ', 'Thursday')

### Updating Lists

In [26]:
List1 = ["chemistry", "2015", "math", "1999"]

In [27]:
List1[0] = "physics"
print(List1)

['physics', '2015', 'math', '1999']

In [28]:
List1[2:] = ["music", "2018"]
print(List1)

['physics', '2015', 'music', '2018']

In [29]:
List2 = ["class1", "class2"]

In [30]:
List3 = List1 + List2
print(List3)

['physics', '2015', 'music', '2018', 'class1', 'class2']

In [31]:
List3 = List3*2
print(List3)

['physics', '2015', 'music', '2018', 'class1', 'class2', 'physics', '2015', 'music', '2018', 'class1', 'class2']

### Delete List Elements

In [32]:
print(List1)

['physics', '2015', 'music', '2018']

In [33]:
del List1[2:4]
print("List1 after deleting opperation is:", List1)

('List1 after deleting opperation is:', ['physics', '2015'])

### Methods in List

```Name.append (x)``` : Add an item to the end of the list.

```Name.remove (x)``` : Remove the first item from the list.

```Name.index (x)``` : Return zero-based index in the list of the first item.

```Name.count (x)``` : Return the number of times x appears in the list.

```Name.extend (x)``` : Extend the list by appending all the items from the iterable.

```Name.insert (I,x)``` : Insert an item at a given position.

```Name.sort ()``` : Sort the items of the list in place.

Applying these methods in an example:

In [34]:
Listx = ["math" , "physics" , "art"]
Listx.append("algebra")
print(Listx)

['math', 'physics', 'art', 'algebra']

In [35]:
Listx.remove("art")
print(Listx)

['math', 'physics', 'algebra']

In [36]:
Listx.index("math")

0

In [37]:
Listx.count("algebra")

1

In [38]:
Listy = ["17" , "19" , "20"]

Listx.extend(Listy)
print(Listx)

['math', 'physics', 'algebra', '17', '19', '20']

In [39]:
Listz = [1,4,9,2,3,7]
Listz.sort()
Listz

[1, 2, 3, 4, 7, 9]

### Tuples

A tuple consist of a number of objects which seperated by commas with or without parentheses, for instance:

In [40]:
Tuple = ("d", 12, "b17", "21!")
Tuple1 = "f", "bd", 12

In [41]:
Tuple[0]

'd'

In [42]:
Tuple[1:3]

(12, 'b17')

 empty tuple is usually constructed by an empty parentheses, while a tuple with one item is constructed by following a value with a comma after it

In [43]:
Tuple_empty = ()
Tuple_single = (123),
len(Tuple_empty)

0

In [44]:
len(Tuple_single)

1

Unlike lists, tuples are immutable:

In [45]:
T1 = (100,200,300,400,500)
T1[0] = 700

TypeError: 'tuple' object does not support item assignment

This ```error``` shows that tuples are immutable and you are not allowed to replace its objects with new objects. So we can create a new tuple includes new objects.

In [46]:
T2 = (700,) + T1[1:]
print(T2)

(700, 200, 300, 400, 500)

In [47]:
T1 + (800,900)

(100, 200, 300, 400, 500, 800, 900)

In [48]:
Day = ("Sunday", "Monday", "Tuesday", "Wednesday")
count = 0
print("Today is: ", Day[count])

('Today is: ', 'Sunday')

Tuple and sub-tuple:

In [49]:
Class = ("Math", "Physics", "Algebra", "Art")
len(Class)

4

In [50]:
Class1 = (("Math1", "Math2", "Math3"), ("Physics1", "Physics2"), "Algebra", "Art")
len(Class1)

4

### Methods in Tuple

```Name.index (x)``` : Return zero-based index in the tuple of the first item.

```Name.count (x)``` : Return the number of times x appears in the tuple.

In [51]:
T3 = ("a", "b", "c", "d", "e", "f", "d", "b", "d")
T3.index("e")

4

In [52]:
T3.count("d")

3

### Dictionary

A dictionary includes ```keys``` and ```values```. Any key of the dictionary is associated to a value. For dictionary we use braces {} and each key is separated from its value by a colon (:), each value is separated by commas.

Keys in a dictionary are uniqe, while values in a dictionary can be repeated.

In [53]:
dic1 = {"Math":"A", "Physics":"A", "Art":"B", "Algebra":"c"}
print(dic1)

{'Art': 'B', 'Physics': 'A', 'Math': 'A', 'Algebra': 'c'}

In [54]:
dic2 = {"Name": "Bob", "Age": 19, "Color": "White"}
print("dic2['Name']: ", dic2['Name'])
print("dic2['Age']: ", dic2['Age'])

("dic2['Name']: ", 'Bob')
("dic2['Age']: ", 19)

### Updating Dictionary

Dictionary likes lists are mutable, So you can replace its objects with new ones and update it.

In [55]:
dic2 = {"Name": "Bob", "Age": 19, "Color": "White"}
dic2["Age"] = 23    # update existing entry
dic2["Status"] = "single"   # Add new entry
print(dic2)

{'Color': 'White', 'Status': 'single', 'Age': 23, 'Name': 'Bob'}

### Delete Dictionary Elements

In [56]:
del dic2['Name']     # remove one entry from dictionary
print (dic2)

{'Color': 'White', 'Status': 'single', 'Age': 23}

In [57]:
del dic2          #  delete entire dictionary. We don't have this dictionary any more
print(dic2)

NameError: name 'dic2' is not defined

### Methods in Dictionary

```dic.copy()``` : Returne a copy of dictionary.

```dic.clear()``` : Remove all items of dictionary.

```dic.keys()``` : Return list of dictionary' s keys.

```dic.values()``` : Return list of dictionary' s values.

```dic.items()``` : Return dictionary' s pairs (key, value)

```dic.get()``` : Return a value for the given key. If key is not available then returns None.

In [58]:
seasons = {"first":"spring", "second":"summer", "third":"fall", "fourth":"winter"}


len(seasons)

4

In [59]:
seasons_new = seasons.copy()   # create a new dictionary randomly
seasons_new

{'first': 'spring', 'fourth': 'winter', 'second': 'summer', 'third': 'fall'}

In [60]:
seasons_new.clear()
print(seasons_new)

{}

In [61]:
seasons.keys()

['second', 'fourth', 'third', 'first']

In [62]:
seasons.values()

['summer', 'winter', 'fall', 'spring']

In [63]:
seasons.items()

[('second', 'summer'),
 ('fourth', 'winter'),
 ('third', 'fall'),
 ('first', 'spring')]

#### Create a matrix using dictionary

In [64]:
matrix = {(0,0):0, (0,1):2, (0,2):4, (1,0):-2, (1,1):0, (1,2):3}
len(matrix)

6

In [65]:
matrix[(1,1)]

0

In [66]:
matrix.get((2,2), 0)   # using dic.get() function. If the key is not in  the dictionary return 0, otherwise return its value.

0

In [67]:
matrix.get((0,1),0)

2

### Set

Set is a data structure equivalent to sets in mathematics. Also, the definition of set and dictionary are simillar in python, but the order of elements in a set is undefined.

In [68]:
A = {1,3,5,7}

A[2]   # Since index is not defined by python or by yourself in a set. If we call a specific index, we definitely have an error like this:

TypeError: 'set' object does not support indexing

##### Changing a list to a set using ```set()``` function

In [69]:
alphabet = ["a", "b","c", "d"]
type(alphabet)

list

In [70]:
alphabet_set = set(alphabet)
type(alphabet_set)

set

### Methods in Set

```y.copy()``` : Returne a copy of set.

```y.clear()``` : Remove all items of set.

```y.add(x)``` : Adds element ```x``` to the set ```y```.

```y.remove(x)``` : Remove element ```x``` from the set ```y```.

```y.update(x)``` : Adds all elements of ```x``` to the set ```y```.

```y.issubset(x)``` : Returns ```true``` if ```y``` is a subset of ```x```.

```y.issuperset(x)``` : Returns ```true``` if ```x``` is a subset of ```y```.

```y.union(x)``` : Returns a set which is the union of two sets.   

```y.intersection(x)``` : Returns a set which is the intersection of two sets.   

```y.difference(x)``` : Returns the set difference of two sets.

```y.symmetric_difference(x)``` : Returns the symmetric difference of two sets.

In [71]:
program = {"C", "java", "python", "R"}


C = program.copy()   # y.copy() function
print(C)

set(['python', 'C', 'R', 'java'])

In [72]:
program.add("open CV")   # y.add(x) function

print (program)

set(['python', 'open CV', 'C', 'R', 'java'])

In [73]:
C.clear()     # y.clear() function
print (C)

set([])

In [74]:
program.remove("java")     # y.remove(x) function
print (program)

set(['python', 'open CV', 'C', 'R'])

In [75]:
program.update("java")   # "java" is considered as a set 
print (program)

set(['open CV', 'a', 'C', 'python', 'j', 'R', 'v'])

In [76]:
A = {2,4,6,8}
B = {100,300,500}


A.issubset(B)

False

In [77]:
A.issubset(A)

True

In [78]:
A.issuperset(B)

False

In [79]:
C = A.union(B)
print (C)

set([2, 4, 6, 8, 100, 300, 500])

In [80]:
D = A.intersection(C)
print ("The intersection of A and C is: ", D )

('The intersection of A and C is: ', set([8, 2, 4, 6]))

In [81]:
E = B.difference(D)
print (E)

set([100, 300, 500])

In [82]:
F = A.symmetric_difference(D) 
print (F)

set([])